#textdomain wesnoth-trillia

[scenario]
    id=blossoms
    next_scenario=null
    name= _ "Blossoms"
    map_file=blossoms.map
    turns=30

    [side]
        side=1
        controller=human
        team_name="good"
        user_team_name= _ "Trillia"
        id=Trillia
        name= _ "Trillia"
        type="Elvish Ranger"
        unrenameable=yes
        canrecruit=yes
        recruit="Elvish Fighter,Elvish Archer,Elvish Shaman"
        gold=120
        fog=yes
    [/side]

    [side]
        side=2
        controller=ai
        team_name="bad"
        user_team_name= _ "Enemies"
        id=EnemyLeader
        name= _ "Orcish Warlord"
        type="Orcish Warlord"
        unrenameable=yes
        canrecruit=yes
        recruit="Orcish Grunt,Orcish Archer,Wolf Rider"
        gold=80
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the evil orcish leader before he can reach the flower!"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Trillia :c"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    [event]
        name=die
        [filter]
            id=EnemyLeader
        [/filter]
        [message]
            speaker=EnemyLeader
            message= _ "Ze flowers... were nevver yours to keeep..."
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=EnemyLeader
        [/filter]
        [message]
            speaker=EnemyLeader
            message= _ "MUAHAHAHAHA!!!! ZE FLOWERS ARE FOREVER MINE, TRILLIA!"
        [/message]
    [/event]

    [event]
        name=capture
        first_time_only=yes
        [filter]
            side=1
        [/filter]
        [message]
            speaker=Trillia
            message= _ "Good work, my recruits. We shall continue to FIGHT these orcs!"
        [/message]
        [message]
            speaker=EnemyLeader
            message= _ "RAH YOU HAVE NOT WIN YET, TRILLIA! I WILL EAT YOUR FLOWERZ!!!"
        [/message]
        [gold]
            side=1
            amount=25
        [/gold]
    [/event]

    [event]
        name=start
        [message]
            speaker=Trillia
            message= _ "The trillia flowers must be protected. We fight today!"
        [/message]
    [/event]

    [event]
        name=victory
        [message]
            speaker=Trillia
            message= _ "The flowers are safe. Victory is ours!"
        [/message]
    [/event]

    [event]
        name=defeat
        [message]
            speaker=narrator
            message= _ "The trillia flowers have fallen into enemy hands."
        [/message]
    [/event]

    [event]
        name=new_turn
        [filter_condition]
            [variable]
                name=turn_number
                equals=2
            [/variable]
        [/filter_condition]
        [message]
            speaker=EnemyLeader
            message= _ "RAHHHH! ZEM FLOWERZ MUZT BE MEIN! DIE, TRILLIA!!"
        [/message]
    [/event]

    [event]
        name=new_turn
        [filter_condition]
            [variable]
                name=turn_number
                equals=3
            [/variable]
        [/filter_condition]
        [message]
            speaker=Trillia
            message= _ "Oh dear lord, the orcish leader hath gone mad! Hurry and kill him before he unleashes the wolves!!"
        [/message]
    [/event]

    [event]
        name=new_turn
        [filter_condition]
            [variable]
                name=turn_number
                equals=20
            [/variable]
        [/filter_condition]
        [message]
            speaker=Trillia
            message= _ "HURRY!! WE HAVE NOT MUCH LONGER BEFORE HE DEVOURS US ALL!"
        [/message]
    [/event]

    [event]
        name=new_turn
        [filter_condition]
            [variable]
                name=turn_number
                equals=30
            [/variable]
        [/filter_condition]
        [message]
            speaker=Trillia
            message= _ "n-no... ...THIS CANNOT BE HAPPENING!!!"
        [/message]
    [/event]

[/scenario]