[textdomain]
    name="wesnoth-trillia"
    path="data/add-ons/trillia/translations"
[/textdomain]

#textdomain wesnoth-trillia

[campaign]
    id=trillia
    name= _ "Trillia"
    abbrev= _ "T"
    define=CAMPAIGN_TRILLIA
    icon=/data/add-ons/trillia/trillium_r.png
    image=
    first_scenario=blossoms
    description= _ "Trillia is a campaign for Wesnoth where you must fight various enemies to secure the various different trillia flowers hidden amongst the map."
[/campaign]

#ifdef CAMPAIGN_TRILLIA
[binary_path]
    path=data/add-ons/trillia
[/binary_path]

{~add-ons/trillia/scenarios}
#endif